@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

//SIZES
$aside-width: 100px;
$film-width: 220px;
$film-height: 330px;

//FONTS
$primary-font: 'Manjari', sans-serif;

//COLORS
$bg-color: #141414;
$bg-input-color: #232323;
$orange-color: #ff683f;
$white-color: #FFFFFF;
$grey-color: grey;

