@use '../abstracts/variables' as var;

.modal {
    margin: 10rem auto;
    background-color: var.$bg-color;
    min-width: 400px;
    
    &__title, .form__label {
        color: var.$orange-color;
    }
    
    .form__label {
        display: flex;
        margin: 5px 0;
    }
}


