@use '../abstracts/variables' as var;

.containerAdmin {
    background-color: var.$bg-color;

&__title{
    color: var.$orange-color;
    display: flex;
    justify-content: center;
    font-size: 600%;
    font-weight: bold;
}

&__btns {
    display: flex;
    width: 100vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    }
}

.addFilms { 
    background-color: var.$orange-color;
    margin-right: 3rem;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.loadDB{
    background-color: var.$orange-color;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.editFilms {
    background-color: var.$orange-color;
    margin-left: 3rem;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

#goBack {
    background-color: var.$orange-color;
    width: 50px;
    cursor: pointer;
}

.admin-icons {
    font-size: 60px;
}


