@use '../abstracts/variables' as var;

.containerAdmin {
    background-color: var.$bg-color;

&__title{
    color: var.$orange-color;
    display: flex;
    justify-content: center;
    font-size: 600%;
    font-weight: bold;
}

&__btns {
    display: flex;
    width: 100vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    // margin: 0 auto;
    // justify-content: space-between;
    }
}

.addFilms { 
    background-color: var.$orange-color;
    margin-right: 3rem;
    width: 120px;
    height: 120px;
    // background-size: 50px 50px;
    // position: absolute;
    // top: 50%;
}

.loadDB{
    background-color: var.$orange-color;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 120px;
    height: 120px;
    // position: absolute;
    // top: 50%;
}

.dltFilms {
    background-color: var.$orange-color;
    margin-left: 3rem;
    width: 120px;
    height: 120px;
}

#goBack {
    background-color: var.$orange-color;
    width: 50px;
    // display: flex;
    // justify-content: end;
}
