@use '../abstracts/variables' as var;


.aside {
    height: 100%;
    width: var.$aside-width;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var.$orange-color;
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    writing-mode: vertical-lr;
    z-index: 2;
}

@media screen and (max-width: 1250px) {
  .aside {
    display: none;
  }
}
