@use '../abstracts/variables' as var;
@import '../abstracts/animations';

.all-films {
  padding: 20px 50px;

  &__title {
    margin-bottom: 10px;
  }

  .container {

    &__pg-list {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      padding-right: var.$aside-width;

      li {
        margin-right: 10px;
        margin-bottom: 10px;

        .skeleton {
          height: var.$film-height;
          width: var.$film-width;
          cursor: progress;
          background:
            linear-gradient(0.25turn, transparent, #fff, transparent),
            linear-gradient(#dfdede, #dfdede);
          background-repeat: no-repeat;
          background-size: 220px 330px, 220px 330px;
          background-position: -330px 0, 0 0;
          border-radius: 10px !important;
          @include gradient();
        }

        img {
          height: var.$film-height;
          width: var.$film-width;
        }

        .lazy {
          display: none;
        }
      }
    }

    &__pg-nav {
      color: blue;
      display: flex;
      align-items: center;
      justify-content: center;

      .pg-num {
        font-size: 1.1rem;
        background-color: transparent;
        border: none;
        margin: 0.25rem 0.25rem;
        cursor: pointer;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: .2rem;

        &:hover {
          background: #fff;
        }

        &.active {
          color: #fff;
          background: #0085b6;
        }
      }

      button.pg-btn {
        font-size: 1.1rem;
        background-color: transparent;
        border: none;
        margin: 0.25rem 0.25rem;
        cursor: pointer;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: .2rem;

        &:not(.disabled):hover {
          background: #fff;
        }
      }
    }
  }
}

.hidden {
  display: none !important;
}