@use '../abstracts/variables' as var;
@import '../abstracts/animations';

.index-container {
  background-color: var.$bg-color;
}

.all-films {
  position: absolute;
  padding: 20px 50px;

  &__title {
    color: var.$orange-color;
    margin-bottom: 20px;
  }

  .container {

    &__pg-list {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      padding-right: var.$aside-width;

      li {
        margin-right: 10px;
        margin-bottom: 10px;

        .skeleton {
          height: var.$film-height;
          width: var.$film-width;
          cursor: progress;
          background:
            linear-gradient(0.25turn, transparent, #fff, transparent),
            linear-gradient(#616161, #525252);
          background-repeat: no-repeat;
          background-size: 220px 330px, 220px 330px;
          background-position: -330px 0, 0 0;
          border-radius: 10px !important;
          @include gradient();
        }

        img {
          height: var.$film-height;
          width: var.$film-width;
          transition: all 0.5s ease;

          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }

        .lazy {
          display: none;
        }
      }
    }

    &__pg-nav {
      color: blue;
      display: flex;
      align-items: center;
      justify-content: center;

      .pg-num {
        color: var.$orange-color;
        font-size: 1.1rem;
        background-color: transparent;
        border: none;
        margin: 0.25rem 0.25rem;
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        border-radius: .2rem;

        &:hover {
          background: #ff693f49;
          ;
        }

        &.active {
          color: #fff;
          background-color: var.$orange-color;

        }
      }

      button.pg-btn {
        color: var.$orange-color;
        font-size: 1.1rem;
        background-color: transparent;
        border: none;
        margin: 0.25rem 0.25rem;
        cursor: pointer;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: .2rem;

        &:not(.disabled):hover {
          transform: scale(1.6);
          color: white;
        }
      }
    }
  }
}

.hidden {
  display: none !important;
}

.design {
  position: fixed;
  bottom: 0;
  color: var.$orange-color;
  margin-top: auto;
  text-align: start;
  margin-left: 20px;
}