@use '../abstracts/variables' as var;

.info-film {
    height: 100%;
    width: 100%;
    color: var.$orange-color;
    // background-color: var.$bg-color;

    &__btn-like--active {
        color: var.$white-color;
        
    }

}

.comment__delete {
    opacity: 0;

    &--active {
    opacity: 1;
    }
}

img {
    height: 50px;
}


