@use '../abstracts/variables' as var;

.info-film {
    height: 100%;
    width: 100%;
    color: var.$orange-color;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 10vh;
        font-size: 1.5rem;
        padding-left: 0.5rem;

        i {
            margin: 0rem 0.2rem;
        }

    }

    &__section {
        display: flex;
        height: 80vh;
        margin-bottom: 1.5rem;

        .container__left {
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 1rem;

            img {
                width: 18rem;
            }
            
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                font-size: 1.5rem;
                margin-top: 1rem;
                width: 70%;
            }
        }

        .container__right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 65%;
            padding: 1rem 4rem 1rem 1rem;
            text-align: justify;

            &--info-film{
                height: 60%;

                h2 {
                    margin-bottom: 0.4rem;
                }

                H3 {
                    margin-top: 1.6rem;
                    margin-bottom: 0.5rem;
                }

                h4, h3, p {
                    color: var.$white-color;
                }
            }

            &--info-comments{
                height: 40%;
                width: 100%;

                .container__likes {
                    display: flex;
                    padding-bottom: 0.5rem;

                    h3 {
                        margin-right: 0.5rem;
                    }
                }

                .container__comments {
                    height: 11rem;
                    color: var.$white-color;
                    overflow: auto;
                    
                    .container__each-comment {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 0.5rem;
                        width: 100%;
                        border-bottom: 1px solid var.$orange-color;
                        padding: 0px 5px 0px 3px;
                        
                        div {
                            display: flex;
                            justify-content: space-between;

                            p {
                                font-size: 0.7rem;
                                color: var.$orange-color;
                                cursor: pointer;
                            }

                            .comment__delete {
                                opacity: 0;
    
                                &--active {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    p {
                        font-size: 0.9rem;
                        padding-bottom: 0.5rem;
                    }

                    &::-webkit-scrollbar {
                        width: 3px;
                      }

                      &::-webkit-scrollbar-thumb {
                        background: var.$bg-input-color; 
                      }
                }

            }
        }
    }
    &__btn-like--active {
        color: var.$white-color;
        
    }

}

.modal__add-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: flex-start;   
    bottom: 0;
    width: 100%;
    height: 10rem;
    background-color: var.$bg-color;
    color: var.$bg-color;
    border:none;

    &--close {
        position: absolute;
        top: 1rem;
        right: 0.5rem;
        background-color: transparent;
        border: none;
        color: grey;
        font-size: 1.2rem;
        cursor: pointer;
        outline: none;
    }

    form {
        width: 100vw;
        height: 100%;
        padding: 1rem 0.1rem;

        button {
            position: absolute;
            bottom: 1.5rem;
            right: 0.7rem;
            font-size: 1.9rem;
            padding: 1.3rem;
            color: var.$orange-color;
            background-color: var.$bg-color;
            border: none;
            border-radius: 50%;
        }
    }
    textarea {
        width: 100%;
        height: 8rem;
        background-color: var.$bg-input-color;
        font-size: 1.1rem;
        color: var.$white-color;
        resize: none;
        padding: 0.3rem 0.5rem; 
    }
}


