@use '../abstracts/variables' as var;

.lists-container {
  margin: 50px auto;
  width: 90%;

  .nav {
    margin-left: -4rem;

    @media (max-width: 1200px) {
      margin-left: 0; ;
    }

    i {
      font-size: 1.8em;
      color: var.$orange-color;
      cursor: pointer;

    }
  }

  .main-container {
    margin: 40px 0 0 50px;
    color: var.$orange-color;
    display: flex;

    @media (max-width: 460px) {
      flex-direction: column;
      margin: 30px 0;
    }

    .title {
      max-width: 420px;

      h2 {
        font-size: 3rem;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          background-color: var.$bg-input-color;
          color: var.$white-color;
          outline: none;
          border: none;
          padding: .6rem .8rem;
          border-radius: 5px;

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-text-fill-color: white !important;
            -webkit-box-shadow: 0 0 0 30px var.$bg-input-color inset !important;
            cursor: text;
            transition: background-color 5000s ease-in-out 0s;
          }
        }

        button {
          background-color: transparent;
          border: none;
          margin-left: 7px;

          i {
            color: var.$orange-color;
            font-weight: 800;
            font-size: 1.8rem;
            cursor: pointer;
          }
        }
      }

      .lists {
        width: 100%;
        margin-top: 6rem;

        .one-list {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          font-weight: 700;
          width: 100%;

          i {
            cursor: pointer;
            width: 10%
          }

          p {
            width: 90%;
            cursor: pointer;

          }

          .active {
            color: white;
          }
        }
      }
    }

    .main {
      display: flex;
      margin: 4% 3%;

      &__films {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;

        @media (max-width: 950px) {
          grid-template-columns: repeat(4, 1fr); ;
        }
        @media (max-width: 700px) {
          grid-template-columns: repeat(2, 1fr); ;
        }

        .film {
          height: 80%;
          aspect-ratio:  1 / 1.5;
          transition: .3 ease all;
          box-shadow: 5px, 5px 10px rgba(0, 0, 0, 0.3);
          margin-bottom: 40px;
          

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: .5s ease all;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
              transform-origin: center;
            }
          }
        }
      }
    }
  }
}