@use '../abstracts/variables' as var;

* {
  font-family: var.$primary-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 0;
  margin: auto auto;
  text-align: center;
  justify-content: space-between;
  background-color: var.$bg-color;
  height: fit-content;
  width: 60%;
  max-width: 800px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 7vh;

    //admin page styles
    .list-container {
      width: 100%;
      min-height: 10rem;
      background-color: var.$bg-input-color;
      margin-top: 1rem;

      &__table {
        width: 100%;
        text-align: left;

        .film-ID {
          width: 10%;
        }

        .film-actions {
          width: 10%;
        }
      }
    }

    //---------------------------
  }


  &__btn-close {
    position: absolute;
    top: 0.2rem;
    right: 0.7rem;
    background-color: var.$bg-color;
    color: var.$orange-color;
    font-size: 2rem;
    border: none;
    cursor: pointer;
  }

  &__title {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }

  &__title,
  .form__label {
    color: var.$orange-color;
  }

  .form__label {
    display: flex;
    margin: 5px 0;
    font-size: 1.1rem;
    margin-top: 0;
  }

  .form__input {
    background-color: var.$bg-input-color;
    width: 30rem;
    height: 2.5rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 8px 12px;

    &:focus {
      outline: 1px solid rgb(155, 155, 155);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: white !important;
      -webkit-box-shadow: 0 0 0 30px var.$bg-input-color inset !important;
      cursor: text;
      transition: background-color 5000s ease-in-out 0s;

    }
  }

  &__form {
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &--login {
      height: 18rem;
    }

    div {
      border-radius: 5px;
    }
  }

  &__btn-submit {
    height: 2.5rem;
    width: 100%;
    background-color: var.$orange-color;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;

    &--signUp {
      margin-top: 1rem;
    }
  }

  &__p {
    font-size: 1.1rem;
    color: var.$white-color;
    margin-top: 2.5rem;

    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__background--active {
    filter: blur(20px) contrast(0.8) brightness(0.8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 1150px) {
  .modal-sign-up {
    height: 90% !important;
    padding: 50px 0;
  }

  .modal {
    width: 60%;
    height: 80vh;

    &__btn-close {
      font-size: 1.5rem;
    }

    &__title {
      font-size: 3rem;
    }

    .form__input {
      width: 100%;
      margin-bottom: 20px;
    }

    &__form {
      width: 100%;
    }

    &__btn-submit {
      width: 50%;
    }

    &__p {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 450px) {

  .modal-sign-up {
    height: 80% !important;
    padding: 50px 0;
  }

  .modal {
    width: 60%;
    height: 50vh;

    &__btn-close {
      font-size: 1.2rem;
    }

    &__title {
      font-size: 1.6rem;
    }

    .form__label {
      font-size: 0.7rem;

    }

    .form__input {
      width: 100%;
      margin-bottom: 20px;
      padding: 0.2rem .6rem;
      font-size: 0.7em;
      height: 1.5rem;
    }

    &__form {
      width: 100%;
    }

    &__btn-submit {
      width: 50%;
      font-size: 0.8em;
    }

    &__p {
      font-size: 0.6rem;
    }
  }
}